@page
@model RecipeJungle.Pages.HomeModel
@{
    Model.ActiveNavigation = "Home";
    Layout = "Core/Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12">

            <section class="top-catagory-area section-padding-80-0">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </section>
            <section class="best-receipe-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h3>All Recipes</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @{
                            foreach (var recipe in Model.recipes)
                            {
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-best-receipe-area mb-30">
                                        <img src='/api/photo/get?recipeId=@recipe.Id' alt=""> 
                                        <div class="receipe-content">
                                            <a href="/recipeDetails?id=@recipe.Id">
                                                <h5>@recipe.Title</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>



</script>
