@page
@model RecipeJungle.Pages.ProfileModel
@{
    Model.ActiveNavigation = "Profile";
    Layout = "Core/Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                Delete recipes automatically after N days:
                
            </div>
        </div>
    </div>
</div>

<script>

</script>
